html {
  font-size: 10px;
}

body {
  background: #0e2954;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.words {
  margin-top: 5em;
  width: 100%;
  background: white;
  border-radius: 3px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#84a7a1),
      color-stop(4%, #84a7a1)
    )
    0 4px;
  background-size: 100% 3rem;
  line-height: 3rem;
}

p {
  margin: 0 0 3rem;
}
p::first-letter {
  text-transform: capitalize;
}

img {
  height: 30px;
  width: 30px;
}

.starting-modal {
  display: none;
  background: rgba(1, 6, 5, 0.6);
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0px;
  border-top-left-radius: 5px;
  color: rgb(3, 3, 3);
  
}

.modal {
  display: flex;
  flex-direction: column;
  background: rgba(132, 167, 161, 0.9);
  padding: 2em;
  text-align: justify;
  width: 85%;
  margin: 0 auto;
}
.modal h3 {
  text-align: center;
}
.modal img {
  align-self: flex-end;
  /* background: white; */
  padding: 0.4em;
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.words {
  display: flex;
  flex-direction: column;
}
.words img {
  justify-self: center;
  margin-top: 1.3em;
}
.words p {
  align-self: center;
}
.remove {
  display: none;
}

.show {
  display: block;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(40vh);
  }
}
